<div class="card">
   <div class="actions">
      <a href="#" class="btn-primary">Add friend</a>
      <a href="#" class="btn-secondary">Message</a>
    </div>
  <div class="profile">
    <img src="/docs/images/people/profile-picture-3.jpg" alt="Bonnie image" class="avatar" />
    <h5><%= player.name %></h5>
    <span><%= player.points %> Points </span>

    <div class="actions">
      <a href="#" class="btn-primary">Add friend</a>
      <a href="#" class="btn-secondary">Message</a>
    </div>
  </div>
</div>
